/* Enjoy! */
.nav-top{
	height:50px;
	background: #222;
	opacity: 50%;
	box-shadow: 0 0 5px rgba(0,0,0,0.5)
}
.unit{
	border:2px solid;
	border-color:black;
	padding:2px;
}
.line{
	stroke:rgb(255,0,0);
	stroke-width:2;
}